@font-face {
  font-family: Oxanium-Regular;
  src: url(../fonts/Oxanium-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: Oxanium-Bold;
  src: url(../fonts/Oxanium-Bold.ttf);
  font-display: swap;
}

@font-face {
  font-family: grind;
  src: url(../fonts/grind_demolished-webfont.woff2);
  font-display: swap;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: #333;
  color: white;
  padding: 0 20px;
  opacity: 0.8;
}

.navbar a {
  color: white;
  padding: 10px 20px;
  margin: 5px;
}

.navbar a:hover {
  border-bottom: #28a745 2px solid;
}

.navbar ul {
  display: flex;
}

.navbar .logo {
  font-weight: 400;
}
.text-primary {
  color: #28a745;
}

.text-secondary {
  color: #0284d0;
}
ul {
  list-style: none;
}

body {
  font-family: Oxanium-Bold;
  src: url(../fonts/BauhausBold.ttf);
  font-display: swap;
  margin: 0;
  padding: 0;
  /* background-color: #f4f4f4; */
}
.apartment-details input {
  color: #fff;
}
.apartment-section {
  font-size: 20px;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  
     
      /*outline: 1px solid red;*/
      
      box-sizing: border-box;
     
      
  
      
      display:flex;
      justify-content: center;
      align-items: center;
}
.details{
    background-image:
      linear-gradient(white, white),
      linear-gradient(180deg, cornflowerblue, purple 50%, cornflowerblue);

    background-repeat: no-repeat;
    background-size: 100% 100%, 100% 200%;
    background-position: 0 0, 0 100%;
    background-origin: padding-box, border-box;
    animation: highlight 1s infinite alternate;
  }

  @keyframes highlight {
    100% {
      background-position: 0 0, 0 0;
    }
  }

.container {
    
  color: #fff;
}

#details {
  color: #fff;
}

.apartment-details input {
  color: #fff;
}
#viewListingsBtn {
  display: none; /* Hide the button initially */
  background-color: #4caf50;
  color: #fff;
  border: none;
  right: 400px;
  padding: 70px 2s5px;
  cursor: pointer;
  border-radius: 4px;
}
#viewListingsBtn:hover,
#viewListingsBtn:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

/* Add any other styles you may need */

h1 {
    
   
        font-family: grind;
        src: url(../fonts/grind_demolished-webfont.woff2);
        font-display: swap;
      
  color: #fff;
}

#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

.container {
    
  max-width: 600px;
  margin: 50px auto;
  /* background-color: #fff; */
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 2);
}


label {
    
  display: contents;
  margin-bottom: 8px;
  color: #fff;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
    font-family: Oxanium-Bold;
  src: url(../fonts/Oxanium-Bold.ttf);
  font-display: swap;
  color: #fff;
  background-color: #4caf50;
  /* color: #fff; */
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
}
