<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="utilities.css">
    <link rel="stylesheet" href="./style2.css">
    <script src="https://kit.fontawesome.com/4e8ac64d32.js" crossorigin="anonymous"></script>
    <title>Login</title>
</head>
<style>
    @font-face {
      font-family: Oxanium-Bold;
      src: url(../StudentNest/fonts/Oxanium-Bold.ttf);
      font-display: swap;
  }  
  *{
      font-family: Oxanium-Bold;
      src: url(../StudentNest/fonts/Oxanium-Bold.ttf);
  }
  
  body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./images/1.jpeg");
  }
  
  .main-container {
    width: 100%;
    height: 100vh;
    /* transition: 0.4s linear; */
  }
  .main-container image{
      height: 100vh;
      width: 100%;
  }
  
  .box {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .8);
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, .5);
    border-radius: 10px;
  }
  
  .box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .box p {
    margin-bottom: 0;
  }
  
  .box p:nth-child(even) {
    margin-top: 0;
  }
  
  .box a {
    color: #9a9d9e;
    font-size: 14px;
    text-decoration: none;
  }
  
  .box .input-box {
    position: relative;
  }
  
  .box .input-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    margin-bottom: 30px;
    color: #fff;
    border: 1px solid #fff;
    border: none;
    border-bottom-style: solid;
    outline: none;
    letter-spacing: 1px;
    background: transparent;
  }
  
  .box .input-box label {
    position: absolute;
    color: #fff;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
  }
  
  .box .input-box input:focus ~ label,
  .box .input-box input:valid ~ label{
    top: -18px;
    left: 0;
    color: #03a9f4;
    font-size: 12px;
  }
  
  .box input[type=submit] {
    background: transparent;
    border: none;
    outline: none;
    background: #03a9f4;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  #logged-in {
    width: 100%;
    height: auto;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 50px;
    display: none;
  }
  
  .login-true {
    opacity: 0;
  }
</style>
<body>
    <!-- User Login -->
<section class="user_login" id="loginForm">
    <div id="main" class="box main-container">
        <div class="container input-box">
            <h1>Login</h1>
                <form action="/login" method="POST" onsubmit="return validateForm()">               
                    <label for="email">Email:</label> <br>
                    <input type="email" id="email user-name" name="email" required><br><br>
                    
                    <label for="password">Password:</label> <br>
                    <input type="password" id="password user-pass" name="password" required><br><br>
                    
                    <input type="submit" id="submit" value="Login">
                </form>
                <h4>Don't have an account yet?</h4>
                <a href="/register" class="btn2" style="color:red">Register now</a>
        </div>
    </div>
</section>
</body>
</html>
